<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music - edit</title>
  <style>
    .music-box {
      width: 700px;
      margin:100px auto;
    }
  </style>
</head>
<body>
    <div class="music-box">
        edit page
        <hr>
        <form action="/edit/<%= musicInfo.id %>" method="post">
          <input name="id" type="hidden" value="<%= musicInfo.id %>">
          <p>
            <label for="">Song</label>
            <input type="text" name="name" value="<%= musicInfo.name %>">
          </p>
          <p>
            <label for="">Author</label>
            <input type="text" name="singer" value="<%= musicInfo.singer %>">
          </p>
          <p>
            <label for="">High</label>
            <% if(musicInfo.isHightRate){ %>
              <input type="radio" name="isHightRate" checked value="1">Yes
              <input type="radio" name="isHightRate" value="0">No
            <% }else { %>
              <input type="radio" name="isHightRate" value="1">Yes
              <input type="radio" name="isHightRate" checked value="0">No
            <% } %>
          </p>
          <p>
            <input type="submit" value="submit">
          </p>
        </form>
    </div>
</body>
</html>